<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand ps-4" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/display/">Entry Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signin/">Present Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/exadmin_signin/">Ex. Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recycle_signin/">Recycle Bin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>